[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule ".zsh/zsh-git"]
	path = .zsh/zsh-git
	url = git://github.com/jcorbin/zsh-git.git
