# Text editor cruft
*~
.*.swp

# Object file cruft
*.la
*.lo
*.o
*.pyc

# Python cruft
/.python-version
/venv

# Ruby cruft
/.ruby-version

# Archive cruft
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# 'Why-is-this-even-a-thing?' cruft
._*
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Icon?
Thumbs.db
